:root {
	--red: hsl(0, 100%, 80%);
	--yellow: hsl(62, 100%, 80%);
	--green: hsl(122, 100%, 80%);
	--blue: hsl(179, 100%, 80%);
	--purple: hsl(238, 100%, 80%);
	--pink: hsl(302, 100%, 80%);
	
	--fontPoppins: 'Poppins', sans-serif;
}

[type=submit], [type=reset], button, html [type=button] {
	-webkit-appearance: button;
	text-transform: none;
}

body {
	background: hsl(0 0% 4%);
	background: hsl(210 14% 11%);
	background: hsl(228 6% 15%);
	padding: 0;
	margin: 0;
}

.glowButtonWrapper {
	position: relative;
	margin: 1.25em auto;
	padding: 0;
	display: table;
	transition: all 150ms linear;
}

.glowButtonWrapper:hover {
	transform: scale(1.15);
}

.glowButtonWrapper:active {
	transform: scale(0.95);
}

.glowButtonWrapper .glowButton {
	--angle: 0deg;
	--buttonBorder: 4px;
	--buttonBorderRadius: 2.25em;
	--buttonBorderRadiusBefore: 3em;
	
	position: relative;
	display: flex;
	padding: 0.875em 2.1em;
	gap: 0.875em;
	font-size: 1em;
	align-items: center;
	border-radius: var(--buttonBorderRadius);
	font-weight: 160;
	border: 0;
	/* overflow: hidden; */
	transition: background 3ms linear;
	
	color: hsl(0, 0%, 98%);
	font-family: sans-serif;
	
	background: hsl(0 0% 0% / 0%);
	
	/* border: 2px solid transparent; */
	box-shadow: 0 0 3px hsl(0 0% 0% / 20%), 
		0 1px 6px hsl(0 0% 0% / 15%), 
		0 4px 8px hsl(0 0% 0% / 13%);
	z-index: 1;
}

.glowButtonWrapper:hover .glowButton {
	transition: background 3ms linear;
	
	background: conic-gradient(
		in hsl longer hue from var(--angle), 
		hsl(0, 100%, 80%) 0 0
	) border-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	box-shadow: 
		0 0 3px hsl(0 35% 80% / 65%), 
		0 1px 6px hsl(60 15% 80% / 50%), 
		0 4px 8px hsl(120 48% 80% / 30%), 
		0 5px 11px hsl(5 20% 80% / 20%);
	
	mix-blend-mode: color-dodge;
	
	animation: angle 2s linear infinite;
}

@property --angle {
	syntax: '<angle>'; 
	initial-value: 0deg;
	inherits: false
}

/* target only Firefox */
@-moz-document url-prefix() {
	.glowButtonWrapper .glowButton {
		transition: all 250ms linear;
		background: transparent;
	}
	
    .glowButtonWrapper:hover .glowButton {
		--angleFX: 0deg;
		/* transition: background 3ms linear; */
		transition: background 3ms linear;
		background:
		conic-gradient(
			from var(--angleFX) at 50% 50%,
			var(--red),
			var(--yellow),
			var(--green),
			var(--blue),
			var(--purple),
			var(--pink),
			var(--red)
		) border-box;
		
		animation: angleFX 2s linear infinite;
    }
}

.glowButtonWrapper .glowButton:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	/*
	width: calc(100% - 7.5px);
	height: calc(100% - 7.5px);
	*/
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 0;
	
	background: hsl(233 12% 13% / 1) padding-box;
	background:
	linear-gradient(
		to bottom,
		hsl(228 5% 20% / 1),
		hsl(228 4% 25% / 1)
	) padding-box;
	border: 1px solid hsl(210 14% 9% / 60%);
	
	border-radius: var(--buttonBorderRadiusBefore);
	z-index: -1;
}

.glowButtonWrapper:hover .glowButton:before {
	width: calc(100% - 7.2px);
	height: calc(100% - 7.2px);
	
	box-shadow: 0 1px 0px hsl(0 0% 45% / 100%) inset,
		0 0 2px hsl(0 0% 75% / 30%);
		
	background: hsl(0 0% 25% / 90%) padding-box;
	background:
	linear-gradient(
		to bottom,
		hsl(228 5% 20% / 88%),
		hsl(228 4% 25% / 92%)
	) padding-box;
}

@keyframes angle { to { --angle: 1turn; } }

@keyframes angleFX {
	00.00% { --angleFX: 0deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	04.16% { --angleFX: 15deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	08.32% { --angleFX: 30deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	12.48% { --angleFX: 45deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	16.64% { --angleFX: 60deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	20.80% { --angleFX: 75deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	24.96% { --angleFX: 90deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	29.12% { --angleFX: 105deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	33.28% { --angleFX: 120deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	37.44% { --angleFX: 135deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	41.60% { --angleFX: 150deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	45.76% { --angleFX: 165deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	49.92% { --angleFX: 180deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	54.08% { --angleFX: 195deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	58.24% { --angleFX: 210deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	62.40% { --angleFX: 225deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	66.56% { --angleFX: 240deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	70.72% { --angleFX: 255deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	74.88% { --angleFX: 270deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	79.04% { --angleFX: 285deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	83.20% { --angleFX: 300deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	87.36% { --angleFX: 315deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	91.52% { --angleFX: 330deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	95.68% { --angleFX: 345deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
	100.0% { --angleFX: 360deg; background: conic-gradient( from var(--angleFX) at 50% 50%, var(--red), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red) ); }
}

    body {
        background-image: url('./images/pinkrain.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center center; /* Set the background position to center */
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    

html, body {
    height: 100%;
}
.container {
    min-height: 100%;
    position: relative;
}
body, h1, h2, h3, p, div {
    margin: 0;
    padding: 1%;
    color: white;
}

.menu-icon-img img {
    width: 46px;
}

 .menu-icon-img {   width: 38px}


 .navbar {
box-shadow: -1px 1px 14px 0px #00bFF0;
background-color: #000 !important;
width: 100%;
top: 0;
left: 0;
z-index: 1030;
 }
 .navbar-name {
    /* font-family: cinzel; */
    font-size: 1.3rem;
    color: #F23580;
}
 .navbar-dark .navbar-toggler {
color: rgba(255,255,255,.5);
border-color: #000;/* border-color: rgba(255,255,255,.1); */
 }
 .navbar-nav .nav-item .nav-link {
font-weight: 500;
font-size: 1.1rem;
color:#6e7175; /* Default link color */
transition: color 0.3s; /* Add a smooth transition for color change */
 }
 .navbar-nav .nav-item .nav-link:hover {
color: #00BFF0; /* Change the color to your desired hover color */
 }
 .navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #F23580; /* Change this to the desired color */
}
.jumbotron-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    /* padding: 4%; */
    margin-top: 14%;
    padding-right: 0;
    padding-left: 0;
    background-color: #22252775;
}
.lead {font-size: 1.75rem;
    color: #c7ff63;
    font-family: cinzel;
}
.display-4 {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.container {min-height: 100%;
position: relative;
padding: 4%;}
.col-md-4 {
    background-color: #000000;
    color: white
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:wght@500;700&display=swap");

:root {
  --clr-text: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {

  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.span1
   {color: #ffc807;
    font-weight: 600;
    font-size: 1.3rem;
}

.recipe-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    background: rgb(0 0 0 / 10%);
    box-shadow: 0 4px 30px #e91e63;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 30px 0;
    width: min(1200px, 90%);
}

.recipe-container > h1 {
  font-size: 2.4rem;
  font-family: cinzel;
  font-weight: 400;
 
  color: white;
  margin: 20px 0 40px;
}

.swiper {

 width: 100%;
  height: 100%;

}

.swiper-scrollbar {
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-drag-bg-color: #dda3b6;
  --swiper-scrollbar-size: 5px;
}

.post {
  
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-text);
  background: rgba(236, 149, 200, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px 16px 0;
  margin-bottom: 16px;
}

.post-img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 4/3;
  border-radius: 6px;
  user-select: none;
  pointer-events: none;
}

.post-body {
 
  grid-template-columns: 15% 60% 20%;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  cursor: default;
}

.post-name {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-author {
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.6;
  color: var(--clr-text);
}

.post-avatar {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.post-actions {
  position: relative;
}

.post-actions-content {
  position: absolute;
  bottom: 130%;
  right: 0;
  padding: 8px;
  border-radius: 8px;
  background: rgba(172, 172, 172, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 2px 2px 10px 2px hsl(0, 0%, 0%, 0.25);
  transition: opacity 0.25s, scale 0.25s;
  transform-origin: bottom right;
}

.post-actions-content[data-visible="false"] {
  pointer-events: none;
  opacity: 0;
  scale: 0;
}

.post-actions-content[data-visible="true"] {
  pointer-events: unset;
  scale: 1;
  opacity: 1;
}

.post-actions-content li {
  padding: 0.5rem 0.65rem;
  border-radius: 0.25rem;
  list-style: none;
}

.post-actions-content li:is(:hover, :focus-within) {
  background-color: rgba(248, 132, 169, 0.7);
}

.post-actions-link {
  width: max-content;
  display: grid;
  grid-template-columns: 1rem 1fr;
  align-items: center;
  gap: 0.6rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.post-like {
  text-decoration: none;
  color: var(--clr-text);
  margin-right: 5px;
  font-size: 1.1rem;
  opacity: 0.65;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.35s ease;
}

.post-actions-controller {
  border: 0;
  background: none;
  color: var(--clr-text);
  cursor: pointer;
  opacity: 0.65;
}

.post-like:hover,
.post-actions-controller:hover {
  opacity: 1;
}

.post-like:focus {
  outline: none;
}

.post-like.active {
  color: rgb(255, 0, 0);
  opacity: 1;
  transform: scale(1.2);
}
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tags li {
    float: left; 
  }
  
  .tag {
    background: #00BFF0;
    border-radius: 40px;
    color: white;
    display: inline-block;
   
    line-height: 24px;
    padding: 20px 20px 20px 20px;
  
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  .tag::before {
  
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 5px;
    left: 10px;
    
    width: 6px;
    top: 10px;
  }
  
  .tag:hover {
    background-color: #c7ff63;;
    color: black;
  }
  
  
.footer {
    position: absolute;
    width: 100%;
    background-color: black;
    color: #F23580;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0px 7px 58px 20px #00bff0ad;
}


/* Style for the left-side links */
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Style for individual links */
.footer-links a {
    color: #F23580;
    text-decoration: none;
    margin-right: 20px;
    transition: text-decoration 0.3s; /* Add a smooth transition effect */
}
.footer-links a:hover {
    text-decoration: underline; /* Underline the link on hover */
    color: #00BFF0; /* Change the link color on hover */
}
/* Style for the image on the right side */
.footer-image {
    max-width: 180px;
}
.footer-image p {
    color: grey;
    font-size: 12px;
  
}

/* MEDIA QUERIES */

@media (max-width: 1200px) { 
  .swiper {
      width: 100%;
    }
    
}

@media (max-width: 900px) {
  #recipes {
    padding: 60px 80px;
  }
  .swiper {
    width: 100%;
  }
  
}

@media (max-width: 765px) {
    .swiper {
        width: 100%;
      }
      .display-4 {
        color: white;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.2;
    }
    
  
}

@media (max-width: 550px) {
    .navbar-brand img { width: 65px;

    }
    .navbar-name {
        /* font-family: cinzel; */
        font-size: .65rem;
        color: #F23580;
    }
    .lead {
        font-weight: 500;
        font-size: 1.3rem;
        color: #c7ff63;
        font-family: cinzel;
    }
    .display-4 {
        color: white;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .recipe-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 24%;
        background: rgba(189, 181, 181, 0.1);
        box-shadow: 0 4px 30px #e91e63;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 25px;
        padding: 30px 0;
        width: min(1200px, 90%);
    }
  #recipes {
    padding: 40px 40px;
  }

  .swiper {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 0;
}
.post-body {
    display: flex;
    flex-direction: column;
}
}

